.center_el {
		display: flex;
		flex-direction: row;
		justify-content: center;
}

.body_content {
		margin-left: 10px;
}

.button {
	width: 25%;
	min-height: 40px;
	border-radius: 12px;
	background-color: #008cba;
	margin-bottom: 10px;
}