<body>
  <div id="corps">
    <div class="body_content">
      <p>{{ text }}</p>
      <div class="center_el">
        <input
          type="button"
          class="button"
          value="{{ buttonText }}"
          id="call"
        />
      </div>
    </div>
    <repeat #loop>
      <div class="container">
        <div class="jumbotron">
          <app-sample></app-sample>
        </div>
      </div>
    </repeat>
    <div class="body_content">
      <repeat #2>
        <p>{{ repeatPhrase }}</p>
      </repeat>
      <if #testTrue>
        <p style="color:#528312;">{{ ifTruePhrase }}</p>
      </if>
      <if #true>
        <p style="color:#528312;">{{ ifTruePhrase }}</p>
      </if>
      <if #testFalse>
        <p style="color:#cf172f;">{{ ifFalsePhrase }}</p>
      </if>
      <if #false>
        <p style="color:#cf172f;">{{ ifFalsePhrase }}</p>
      </if>
    </div>
  </div>
  <app-footer></app-footer>
</body>
